# code: language=yaml
# yaml-language-server: $schema=../../schemas/json/index.schema.json

{{ $id := $xr.spec.id }}
{{ $namespace := $xr.spec.parameters.namespace }}
{{ $image := $xr.spec.parameters.image }}
{{ $port := $xr.spec.parameters.port }}
---
apiVersion: kubernetes.m.crossplane.io/v1alpha1
kind: Object
metadata:
  name: {{ $id }}-deployment
  namespace: {{ $namespace }}
  annotations:
    {{ setResourceNameAnnotation "deployment" }}
  labels:
    app: {{ $id }}
spec:
  forProvider:
    manifest:
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: {{ $id }}
        namespace: {{ $namespace }}
        labels:
          app: {{ $id }}
      spec:
        replicas: 2
        selector:
          matchLabels:
            app: {{ $id }}
        template:
          metadata:
            labels:
              app: {{ $id }}
          spec:
            containers:
            - name: frontend
              image: {{ $image }}
              ports:
              - containerPort: {{ $port }}
              livenessProbe:
                httpGet:
                  path: /
                  port: {{ $port }}
              readinessProbe:
                httpGet:
                  path: /
                  port: {{ $port }}
              resources:
                limits:
                  cpu: 250m
                  memory: 256Mi
                requests:
                  cpu: 125m
                  memory: 128Mi
  providerConfigRef:
    kind: ProviderConfig
    name: default
---
apiVersion: kubernetes.m.crossplane.io/v1alpha1
kind: Object
metadata:
  name: {{ $id }}-hpa
  namespace: {{ $namespace }}
  annotations:
    {{ setResourceNameAnnotation "hpa" }}
  labels:
    app: {{ $id }}
spec:
  forProvider:
    manifest:
      apiVersion: autoscaling/v1
      kind: HorizontalPodAutoscaler
      metadata:
        name: {{ $id }}
        namespace: {{ $namespace }}
        labels:
          app: {{ $id }}
      spec:
        scaleTargetRef:
          apiVersion: apps/v1
          kind: Deployment
          name: {{ $id }}
        minReplicas: 2
        maxReplicas: 6
        targetCPUUtilizationPercentage: 80
  providerConfigRef:
    kind: ProviderConfig
    name: default